## Pair programming Estadística Inferencial

¿El tiempo que transcurre entre la llegada de autobuses a una parada sigue una distribución exponencial o de Poisson?
Es una exponencial porque mide el tiempo entre cada llegada de autobuses

¿El número de errores en un artículo de noticias sigue una distribución exponencial o de Poisson?
Poisson porque es un numero de valores en un rango determinado, el arículo de noticias

¿El tiempo que transcurre entre la llegada de solicitudes de servicio en un restaurante sigue una distribución exponencial o de Poisson?
Exponencial, ya que mide el tiempo que transcurre entre cada solicitud del cliente

¿El número de accidentes de tráfico en una hora en una ciudad sigue una distribución exponencial o de Poisson?
Poisson porque es un numero de accidentes de trafico en un rango igual a una hora

¿El tiempo entre llegadas de llamadas telefónicas a una central de emergencias sigue una distribución exponencial o de Poisson?
Exponencial, ya que mide el tiempo que transcurre entre cada llamadas de emergencia

¿El número de clientes que ingresan a una tienda en una hora sigue una distribución exponencial o de Poisson?
Poisson porque es un numero de clientes que entran a la tienda en un rango igual a una hora

¿El tiempo entre llegadas de correos electrónicos en una bandeja de entrada sigue una distribución exponencial o de Poisson?
Exponencial, ya que mide el tiempo entre cada entrada de correo electrónico

¿El número de defectos en una línea de producción por día sigue una distribución exponencial o de Poisson?
Poisson porque es el numero de defectos por día de una linea de producción

¿El tiempo que transcurre entre la llegada de taxis en una parada sigue una distribución exponencial o de Poisson?
Exponencial, ya que mide el tiempo entre la llegada de taxis a una parada

¿El número de errores de ortografía en un libro de texto sigue una distribución exponencial o de Poisson?
Poisson porque es el número de errores de ortografía en un libro de texto


2.Ejercicios intervalo de confianza. Al igual que en el caso del ejercicio de la clase invertida, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.

Intervalo de Confianza para la Esperanza de Vida

Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente.

Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

In [51]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import shapiro,  poisson, chisquare, expon, kstest


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [52]:
pd.set_option('display.float_format', '{:.2f}'.format) # para poder visualizar los floats sólo con 2 decimales

In [53]:
# Abrimos el archivo df con el que trabajaremos
df = pd.read_csv('files/world_data_full_apply_nulos.csv' , index_col = 0)

In [54]:
df.columns

Index(['country', 'density', 'abbreviation', 'agricultural_land', 'land_area',
       'armed_forces_size', 'birth_rate', 'calling_code', 'capital/major_city',
       'co2-emissions', 'cpi', 'cpi_change', 'currency-code', 'fertility_rate',
       'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate', 'urban_population', 'latitude', 'longitude',
       'continent'],
      dtype='object')

In [55]:
df['physicians_per_thousand'].mean()

1.8398404255319156

In [56]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.00,AF,58.10,652.23,323.00,32.49,93.00,Kabul,8.67,149.90,2.30,AFN,4.47,2.10,0.70,19101353833.00,104.00,9.70,47.90,Kabul,64.50,638.00,0.43,Pashto,78.40,0.28,NaN,48.90,9.30,71.40,11.12,NaN,33.94,67.71,Asia
1,Albania,105.00,AL,43.10,28.75,9.00,11.78,355.00,Tirana,4.54,119.05,1.40,ALL,1.62,28.10,1.36,15278077447.00,107.00,55.00,7.80,Tirana,78.50,15.00,1.12,Albanian,56.90,1.20,NaN,55.70,18.60,36.60,12.33,NaN,41.15,20.17,Europe
2,Algeria,18.00,DZ,17.40,NaN,317.00,24.28,213.00,Algiers,150.01,151.36,2.00,DZD,3.02,0.80,0.28,169988236398.00,109.90,51.40,20.10,Algiers,76.70,112.00,0.95,Arabic,28.10,1.72,NaN,41.20,37.20,66.10,11.70,NaN,28.03,1.66,Africa
3,Andorra,164.00,AD,40.00,468.00,NaN,7.20,376.00,Andorra la Vella,469.00,NaN,NaN,EUR,1.27,34.00,1.51,3154057987.00,106.40,NaN,2.70,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,77.14,NaN,NaN,NaN,NaN,67.87,42.51,1.52,Europe
4,Angola,26.00,AO,47.50,NaN,117.00,40.73,244.00,Luanda,34.69,261.73,17.10,AOA,5.52,46.30,0.97,94635415870.00,113.50,9.30,51.60,Luanda,60.80,241.00,0.71,Portuguese,33.40,0.21,NaN,77.50,9.20,49.10,6.89,NaN,-11.20,17.87,Africa

In [57]:
df["life_expectancy"]

0     64.50
1     78.50
2     76.70
3       NaN
4     60.80
       ...
190   72.10
191   75.30
192   66.10
193   63.50
194   61.20
Name: life_expectancy, Length: 195, dtype: float64

In [58]:
media=df.groupby("continent")["life_expectancy"].mean()
error=stats.sem(df["life_expectancy"].dropna())

nivel_confi=0.95
grados_libertad=len(df["life_expectancy"]) - 1

valor_crit=stats.t.ppf((1 + nivel_confi)/2, df= grados_libertad)

limite_inf= media - valor_crit * error
limite_sup= media + valor_crit * error

display(limite_inf, "-------------", limite_sup)

continent
Africa            62.65
Asia              72.70
Central America   73.61
Europe            78.12
North America     79.12
Oceania           70.05
South America     73.74
Name: life_expectancy, dtype: float64

'-------------'

continent
Africa            64.80
Asia              74.86
Central America   75.77
Europe            80.28
North America     81.28
Oceania           72.20
South America     75.89
Name: life_expectancy, dtype: float64

Hacemos este estudio para detectar las discrepancias y disparidades que existe entre distintos continentes y evaluar los resultados de programas de salud impartidos por la organización para llevar a cabo una mejora en el continente africano.

Intervalo de Confianza para el PIB

Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

In [59]:
media=df.groupby("continent")["gdp"].mean()
error=stats.sem(df["gdp"].dropna())

nivel_confi=0.90
grados_libertad=len(df["gdp"]) - 1

valor_crit=stats.t.ppf((1 + nivel_confi)/2, df= grados_libertad)

limite_inf= media - valor_crit * error
limite_sup= media + valor_crit * error

display(limite_inf, "-------------", limite_sup)

continent
Africa             -212336950727.35
Asia                578777755779.65
Central America    -169937582168.12
Europe              228330680433.02
North America     11323645304888.78
Oceania            -141628954118.93
South America        40016175677.55
Name: gdp, dtype: float64

'-------------'

continent
Africa              304498069015.09
Asia               1095612775522.08
Central America     346897437574.32
Europe              745165700175.46
North America     11840480324631.22
Oceania             375206065623.50
South America       556851195419.99
Name: gdp, dtype: float64

Puede ser útil  para: 
-Comparar el desempeño económico entre continentes
-Planificación económica y política
-Estrategias de inversión en comercio internacional

Intervalo de Confianza para la Tasa de Natalidad

Contexto: Trabajas en una agencia gubernamental que se ocupa de cuestiones demográficas y deseas determinar el intervalo de confianza al 99% para la tasa de natalidad promedio en Asia.

In [60]:
df_filtrado= df[df["continent"]== "Asia"]

In [61]:
media=df_filtrado["birth_rate"].mean()
error=stats.sem(df_filtrado["birth_rate"].dropna())

nivel_confi=0.99
grados_libertad=len(df_filtrado["birth_rate"]) - 1

valor_crit=stats.t.ppf((1 + nivel_confi)/2, df= grados_libertad)

limite_inf= media - valor_crit * error
limite_sup= media + valor_crit * error

display(limite_inf, "-------------", limite_sup)

16.143072383008928

'-------------'

21.479200344263802

Puede ser útil para:
- Planificar políticas de salud y bienestar
- Evaluar programas de planificación familiar
- Realizar proyecciones demográficas

Intervalo de Confianza para la Tasa de Desempleo

Contexto: Eres un analista de políticas públicas y deseas calcular el intervalo de confianza al 95% para la tasa de desempleo promedio en los países de Oceanía.

In [62]:
df_filtrado2= df[df["continent"]== "Oceania"]

In [63]:
media=df_filtrado2["unemployment_rate"].mean()
error=stats.sem(df_filtrado2["unemployment_rate"].dropna())

nivel_confi=0.95
grados_libertad=len(df_filtrado2["unemployment_rate"]) - 1

valor_crit=stats.t.ppf((1 + nivel_confi)/2, df= grados_libertad)

limite_inf= media - valor_crit * error
limite_sup= media + valor_crit * error

display(limite_inf, "-------------", limite_sup)

1.9048258446669395

'-------------'

5.68267415533306

Puederser útil para evaluar el mercado laboral asi como formular políticas laborales y proyecciones sobre asignación de recursos

Intervalo de Confianza para la Tasa de Impuestos

Contexto: Trabajas en un ministerio de finanzas y deseas estimar el intervalo de confianza al 90% para la tasa de impuestos promedio en los países de África.

In [64]:
df_filtrado3= df[df["continent"]== "Africa"]

In [65]:
media=df_filtrado3["total_tax_rate"].mean()
error=stats.sem(df_filtrado3["total_tax_rate"].dropna())

nivel_confi=0.90
grados_libertad=len(df_filtrado3["total_tax_rate"]) - 1

valor_crit=stats.t.ppf((1 + nivel_confi)/2, df= grados_libertad)

limite_inf= media - valor_crit * error
limite_sup= media + valor_crit * error

display(limite_inf, "-------------", limite_sup)

41.00148105560847

'-------------'

54.53969541497974

Puede ser util para llevar a cabo políticas fiscales efectivas y evaluar la competitividad tributaria

Ejercicios prueba de hipótesis: Hasta ahora en la lección y en los ejercicios de la clase invertida os hemos propuesto un contexto y unas hipótesis para entender que es la prueba de hipótesis. Ahora es tu turno, tienes que pensar en 2 hipótesis que quieras aceptar o rechazar usando una prueba de hipótesis en base a los datos que tenemos.

In [66]:
# vamos a definir una función para poder hacer el t-test de Student
def prueba_hipotesis(*args):
    
    # lo primero que tenemos que hacer es mirar si las varianzas son iguales o no
    if len(args) == 2:
        p_valor_varianza = stats.levene(*args, center = "median")[1]
    else:
        p_valor_varianza = stats.bartlett(*args)[1]
    
    if p_valor_varianza > 0.05:
        # realizamos la prueba t de Student
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=True)
    else:
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=False)
        
    # Establecemos un nivel de significancia (alfa)
    alfa = 0.05
    # comparamos el p-valor con el nivel de significancia
    if p_valor < alfa:
        print("Rechazamos la hipótesis nula.")
        print("Hay una diferencia significativa entre los dos grupos.")
    else:
        print("No podemos rechazar la hipótesis nula.")
        print("No hay evidencia suficiente para afirmar una diferencia significativa entre los dos grupos.")

In [67]:
grupo_calificado = df[df['physicians_per_thousand'] > 1.83 ]['life_expectancy']
grupo_menos_calificado = df[df['physicians_per_thousand'] <= 1.83]['life_expectancy']
prueba_hipotesis(grupo_calificado, grupo_menos_calificado)

No podemos rechazar la hipótesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa entre los dos grupos.

Hemos cogido variables 'physicians_per_thousand'/ medicos por mil habitantes y 'life_expectancy'/ esperanza de vida 
H0=  No hay diferencia significativa en el número promedio de esperanza de vida entre países con más cantidad de médicos por mil habitantes y países con menor cantidad de médicos por mil habitantes. 
H1= Existe una diferencia significativa en el número promedio de esperanza de vida entre países con más cantidad de médicos por mil habitantes y países con menor cantidad de médicos por mil habitantes.

Por lo que se muestran paises que están por encima de la media de medicos por habitantes 1.83 y los que están por debajo y el resultado es que no podemos rechazar la hipótesis nula, no se prueba la alternativa

In [68]:
df["tax_revenue"].mean()

16.573964497041416

In [70]:
grupo_calificado1 = df[df['tax_revenue'] > 16.57 ]['gdp']
grupo_menos_calificado1 = df[df['tax_revenue'] <= 16.57]['gdp']
prueba_hipotesis(grupo_calificado1, grupo_menos_calificado1)

No podemos rechazar la hipótesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa entre los dos grupos.

Hemos cogido variables 'tax_revenue'/ Tasa de impuesto y 'gdp'/ PIB

H0=  No hay diferencia significativa en el PIB entre el número promedio de paises con mayor tasa de impuestos y paises con menor tasa de impuestos 
H1=  Existe una diferencia significativa en el número promedio de PIB entre países con mayor tasa de impuestos y países con menor tasa de impuestos.

Se muestran paises que están por encima de la media de tasa de impuestos 16.57 y los que están por debajo y el resultado es que no podemos rechazar la hipótesis nula, no se prueba la alternativa